<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="stock">
          <div class="stat">{{ symbol }}</div>
          <span class="stat-label">NASDAQ GS </span>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="stock">
          <div class="stat">${{ price }}</div>
          <span class="stat-label">Price</span>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="stock ndq-price-down">
          <div class="stat ndq-price-down">{{ change }}</div>
          <span class="stat-label">Change</span>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="stock">
          <div class="stat">{{ volume }}</div>
          <span class="stat-label">Volume</span>
        </div>
      </div>
  </div>
</div>
